@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #161616;
}
a{
    text-decoration: none;
}


/*About me section styling*/
#aboutme{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    bottom: 0;

    box-sizing: border-box;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.about-page-title{
    position: relative;
    padding: 50px 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}
.about-page-title span::before{
    content : "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 30px;
    left:0;
    background-color: #000;
    transform: scaleX(1);
}
.about-page-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.about-page-content .about-image{
    background-image: url(Images/170329_BakeOff_135.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height: 400px;
    width: 90%;
    padding: 0 50px;
}
.about-page-content .about-bio{
    display: block;
    max-width: 40vw;
    padding: 0 50px;
}
.about-page-content .about-bio .about-title{
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.about-page-content .about-bio .about-text{
    display: block;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
}
.about-page-content .about-bio .about-btn{
    padding-top: 50px;
}
.about-page-content .about-bio .about-btn a{
    padding: 20px 60px;
    color: #fff;
    background-color: #000;
    font-family: 'Ubuntu' , sans-serif;
}

@media (max-width : 943px){
    .about-page-content{
        flex-direction: column;
    }
    .about-page-content .about-bio{
        max-width: 70vw;
        text-align: center;
        padding-top: 30px;
    }
}
@media (max-width : 535px) {
    .about-page-content .about-image img{
        height: 70vw;
    }
    .about-page-content .about-bio{
        max-width: 100vw;
    }
    .about-page-content .about-bio .about-title{
        font-size: 6vw;
    }
    .about-page-content .about-bio .about-text{
        font-size: 3vw;
    }
    .about-page-content .about-bio .about-btn{
        padding-top: 10vw;
    }
    .about-page-content .about-bio .about-btn a{
        font-size: 3vw;
        padding: 4vw 12vw;
    }
    .about-page-title{
        font-size: 6vw;
    }
}
